/* Colors */
/* Background Colors */
.bg-dark {
  background-color: var(--dark, #0b0d17);
}

.bg-accent {
  background-color: var(--accent, #d0d6f9);
}

.bg-white {
  background-color: var(--white, #ffffff);
}

/* Text Colors */
.text-dark {
  color: var(--dark, #0b0d17);
}

.text-accent {
  color: var(--accent, #d0d6f9);
}

.text-white {
  color: var(--white, #ffffff);
}
